.dashboard-topbar {
  height: 64px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  border-bottom: 1px solid #e5e7eb;
}

.topbar-actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* ICON BUTTON */
.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #64748b;
  font-size: 18px;

  &:hover {
    color: #0f172a;
  }
}

/* AVATAR */
.avatar-wrapper {
  position: relative;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #14b8a6;
  color: #ffffff;
  font-weight: 600;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* DROPDOWN */
.avatar-dropdown {
  position: absolute;
  right: 0;
  top: 48px;
  width: 220px;
  background: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.08);
  padding: 8px;
  z-index: 100;
}

/* USER INFO */
.user-info {
  padding: 10px 12px;
  border-bottom: 1px solid #e5e7eb;

  .name {
    display: block;
    font-weight: 600;
    color: #0f172a;
  }

  .email {
    font-size: 12px;
    color: #64748b;
  }
}

.user-options {
  padding: 10px 12px;
  .dropdown-item{
    display: block;
    padding: 5px 0px;
  }
}

/* DROPDOWN ITEMS */
.dropdown-item {
  width: 100%;
  background: none;
  border: none;
  padding: 10px 12px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border-radius: 8px;
  color: #0f172a;

  &:hover {
    background: #f1f5f9;
  }

  &.danger {
    color: #dc2626;

    // &:hover {
    //   background: #fee2e2;
    // }
  }
}

/* RESPONSIVE */
@media (max-width: 640px) {
  .dashboard-topbar {
    padding: 0 16px;
  }

  h4 {
    font-size: 16px;
  }
}
