@use "./variables";
@use "./reset";
@use "./typography";

.btn-primary {
  background-color: var(--accent);
  border: none;
  border-radius: var(--border-radius);

  &:hover {
    background-color: #0ea5a3;
  }
}


